{% extends '@App/layout.html.twig' %}

{% block body %}
<h1 class="text-center">Listes des idées ayant reçues le plus de vote</h1>
    <!-- messages flash à remplacer par un system de notification -->
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <!-- ------------------------------------------------------------ -->
    {% for idea in ideas %}
        <h4>{{ idea.title }}</h4>

    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet assumenda, eos mollitia perspiciatis tempora. Alias autem blanditiis doloribus expedita explicabo, labore laboriosam nobis odit omnis optio, qui quos, vel.</span><span>Asperiores dolor doloribus ea enim, error expedita nihil nulla quae quam, ratione sint vitae voluptate! Aut dolores earum facilis fugit inventore iure, non optio sint tempora veritatis. Non nulla, officia.</span><span>Cum doloremque ea eligendi id iste iusto, non nostrum praesentium sint voluptatibus! Magnam, optio, quas. Ab consequatur cum enim et eveniet facilis fuga ipsa laboriosam maxime molestias natus, non optio.</span></p>

        <a class="btn btn-default" href="{{ path('idea', {'id': idea.id}) }}">Découvrir l'idée</a>
        <hr>
    {% endfor %}
{% endblock %}